csbe_study/tmp/**
**.db
**.png
**/.DS_Store

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
